@font-face {
	font-family: CormorantUpright;
	font-display: swap;
	src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Oswald:wght@700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');